<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

-   Collect exchange rate data using an API
-   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd
import urllib.request, urllib.parse, urllib.error
import json
import ssl

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data. 
1. Open the url : https://exchangeratesapi.io/ and click on **Get Free API Key**. 
2. Subscribe for Free plan and Sign-in with the Google Account. 
3. Once the account is created you will be redirected to https://apilayer.com website.
2. Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png">

3. Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

 <b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [2]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=54da32bea276601e315ca53ef9995f24"  #Make sure to change ******* to your API key.
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE


uh = urllib.request.urlopen(url, context=ctx)
data = uh.read().decode()
print('Retrieved', len(data), 'characters')
#    print(type(data))
try:
    js = json.loads(data)
except:
    js = None
    
if not js or 'status' not in js or js['status'] != 'OK':
    print(js,'==== Failure To Retrieve ====')
    print(data)

Retrieved 2819 characters
{'success': True, 'timestamp': 1692498003, 'base': 'EUR', 'date': '2023-08-20', 'rates': {'AED': 3.999374, 'AFN': 91.564377, 'ALL': 106.17029, 'AMD': 419.882504, 'ANG': 1.957252, 'AOA': 901.564314, 'ARS': 380.089039, 'AUD': 1.707423, 'AWG': 1.959922, 'AZN': 1.85536, 'BAM': 1.955253, 'BBD': 2.192786, 'BDT': 118.866737, 'BGN': 1.961995, 'BHD': 0.409385, 'BIF': 3078.838444, 'BMD': 1.088845, 'BND': 1.474987, 'BOB': 7.5039, 'BRL': 5.412437, 'BSD': 1.085996, 'BTC': 4.1522534e-05, 'BTN': 90.293733, 'BWP': 14.775865, 'BYN': 2.741133, 'BYR': 21341.368016, 'BZD': 2.189087, 'CAD': 1.4774, 'CDF': 2667.671396, 'CHF': 0.960406, 'CLF': 0.034132, 'CLP': 941.806453, 'CNY': 7.927996, 'COP': 4464.750623, 'CRC': 579.537827, 'CUC': 1.088845, 'CUP': 28.854401, 'CVE': 110.234153, 'CZK': 24.053904, 'DJF': 193.36589, 'DKK': 7.462188, 'DOP': 61.632753, 'DZD': 148.453597, 'EGP': 33.55731, 'ERN': 16.33268, 'ETB': 59.933229, 'EUR': 1, 'FJD': 2.474188, 'FKP': 0.854723, 'GBP': 0.855069, 'GEL': 2.8532, 'GGP': 0.854723, 'GHS': 12.287562, 'GIP': 0.854723, 'GMD': 65.930008, 'GNF': 9331.388785, 'GTQ': 8.524615, 'GYD': 227.436356, 'HKD': 8.526585, 'HNL': 26.725521, 'HRK': 7.494305, 'HTG': 147.698669, 'HUF': 382.881986, 'IDR': 16682.198948, 'ILS': 4.132223, 'IMP': 0.854723, 'INR': 90.545152, 'IQD': 1422.401967, 'IRR': 46030.935735, 'ISK': 143.949505, 'JEP': 0.854723, 'JMD': 167.713069, 'JOD': 0.770689, 'JPY': 158.334483, 'KES': 154.996627, 'KGS': 96.112794, 'KHR': 4491.743069, 'KMF': 492.706635, 'KPW': 979.97508, 'KRW': 1459.227344, 'KWD': 0.335354, 'KYD': 0.905047, 'KZT': 493.132006, 'LAK': 21185.071753, 'LBP': 16300.838514, 'LKR': 350.761846, 'LRD': 202.797854, 'LSL': 20.819138, 'LTL': 3.215078, 'LVL': 0.658632, 'LYD': 5.238534, 'MAD': 10.705504, 'MDL': 19.303598, 'MGA': 4916.624174, 'MKD': 61.602762, 'MMK': 2280.561827, 'MNT': 3780.111024, 'MOP': 8.759949, 'MRO': 388.717587, 'MUR': 49.469357, 'MVR': 16.741039, 'MWK': 1177.870395, 'MXN': 18.573638, 'MYR': 5.065857, 'MZN': 68.869877, 'NAD': 20.808245, 'NGN': 837.870522, 'NIO': 39.728883, 'NOK': 11.611995, 'NPR': 144.469573, 'NZD': 1.838645, 'OMR': 0.418183, 'PAB': 1.085996, 'PEN': 4.03957, 'PGK': 3.960892, 'PHP': 61.206214, 'PKR': 322.540943, 'PLN': 4.46641, 'PYG': 7885.793308, 'QAR': 3.964758, 'RON': 4.953053, 'RSD': 117.227196, 'RUB': 102.461474, 'RWF': 1284.940433, 'SAR': 4.083501, 'SBD': 9.113112, 'SCR': 14.532633, 'SDG': 654.2544, 'SEK': 11.938802, 'SGD': 1.47936, 'SHP': 1.324853, 'SLE': 23.305913, 'SLL': 21504.695181, 'SOS': 619.012547, 'SSP': 654.396397, 'SRD': 41.594439, 'STD': 22536.899484, 'SYP': 14263.879086, 'SZL': 20.706206, 'THB': 38.730776, 'TJS': 11.929662, 'TMT': 3.810959, 'TND': 3.360725, 'TOP': 2.602889, 'TRY': 29.514027, 'TTD': 7.364939, 'TWD': 34.746184, 'TZS': 2720.438736, 'UAH': 40.108176, 'UGX': 4055.865042, 'USD': 1.088845, 'UYU': 41.108497, 'UZS': 13116.32964, 'VEF': 3445777.654653, 'VES': 34.377256, 'VND': 25936.295212, 'VUV': 132.413121, 'WST': 3.030345, 'XAF': 655.773494, 'XAG': 0.047875, 'XAU': 0.000576, 'XCD': 2.942659, 'XDR': 0.814272, 'XOF': 655.773494, 'XPF': 120.018015, 'YER': 272.592818, 'ZAR': 20.755591, 'ZMK': 9800.918284, 'ZMW': 21.041112, 'ZWL': 350.607745}} ==== Failure To Retrieve ====
{"success":true,"timestamp":1692498003,"base":"EUR","date":"2023-08-20","rates":{"AED":3.999374,"AFN":91.564377,"ALL":106.17029,"AMD":419.882504,"ANG":1.957252,"AOA":901.564314,"ARS":380.089039,"AUD":1.707423,"AWG":1.959922,"AZN":1.85536,"BAM":1.955253,"BBD":2.192786,"BDT":118.866737,"BGN":1.961995,"BHD":0.409385,"BIF":3078.838444,"BMD":1.088845,"BND":1.474987,"BOB":7.5039,"BRL":5.412437,"BSD":1.085996,"BTC":4.1522534e-5,"BTN":90.293733,"BWP":14.775865,"BYN":2.741133,"BYR":21341.368016,"BZD":2.189087,"CAD":1.4774,"CDF":2667.671396,"CHF":0.960406,"CLF":0.034132,"CLP":941.806453,"CNY":7.927996,"COP":4464.750623,"CRC":579.537827,"CUC":1.088845,"CUP":28.854401,"CVE":110.234153,"CZK":24.053904,"DJF":193.36589,"DKK":7.462188,"DOP":61.632753,"DZD":148.453597,"EGP":33.55731,"ERN":16.33268,"ETB":59.933229,"EUR":1,"FJD":2.474188,"FKP":0.854723,"GBP":0.855069,"GEL":2.8532,"GGP":0.854723,"GHS":12.287562,"GIP":0.854723,"GMD":65.930008,"GNF":9331.388785,"GTQ":8.524615,"GYD":227.436356,"HKD":8.526585,"HNL":26.725521,"HRK":7.494305,"HTG":147.698669,"HUF":382.881986,"IDR":16682.198948,"ILS":4.132223,"IMP":0.854723,"INR":90.545152,"IQD":1422.401967,"IRR":46030.935735,"ISK":143.949505,"JEP":0.854723,"JMD":167.713069,"JOD":0.770689,"JPY":158.334483,"KES":154.996627,"KGS":96.112794,"KHR":4491.743069,"KMF":492.706635,"KPW":979.97508,"KRW":1459.227344,"KWD":0.335354,"KYD":0.905047,"KZT":493.132006,"LAK":21185.071753,"LBP":16300.838514,"LKR":350.761846,"LRD":202.797854,"LSL":20.819138,"LTL":3.215078,"LVL":0.658632,"LYD":5.238534,"MAD":10.705504,"MDL":19.303598,"MGA":4916.624174,"MKD":61.602762,"MMK":2280.561827,"MNT":3780.111024,"MOP":8.759949,"MRO":388.717587,"MUR":49.469357,"MVR":16.741039,"MWK":1177.870395,"MXN":18.573638,"MYR":5.065857,"MZN":68.869877,"NAD":20.808245,"NGN":837.870522,"NIO":39.728883,"NOK":11.611995,"NPR":144.469573,"NZD":1.838645,"OMR":0.418183,"PAB":1.085996,"PEN":4.03957,"PGK":3.960892,"PHP":61.206214,"PKR":322.540943,"PLN":4.46641,"PYG":7885.793308,"QAR":3.964758,"RON":4.953053,"RSD":117.227196,"RUB":102.461474,"RWF":1284.940433,"SAR":4.083501,"SBD":9.113112,"SCR":14.532633,"SDG":654.2544,"SEK":11.938802,"SGD":1.47936,"SHP":1.324853,"SLE":23.305913,"SLL":21504.695181,"SOS":619.012547,"SSP":654.396397,"SRD":41.594439,"STD":22536.899484,"SYP":14263.879086,"SZL":20.706206,"THB":38.730776,"TJS":11.929662,"TMT":3.810959,"TND":3.360725,"TOP":2.602889,"TRY":29.514027,"TTD":7.364939,"TWD":34.746184,"TZS":2720.438736,"UAH":40.108176,"UGX":4055.865042,"USD":1.088845,"UYU":41.108497,"UZS":13116.32964,"VEF":3445777.654653,"VES":34.377256,"VND":25936.295212,"VUV":132.413121,"WST":3.030345,"XAF":655.773494,"XAG":0.047875,"XAU":0.000576,"XCD":2.942659,"XDR":0.814272,"XOF":655.773494,"XPF":120.018015,"YER":272.592818,"ZAR":20.755591,"ZMK":9800.918284,"ZMW":21.041112,"ZWL":350.607745}}

### Save as DataFrame

 <b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [4]:
# Turn the data into a dataframe
rates_dict=js   #js['rates']
df=pd.DataFrame(rates_dict)
df.head()

     success   timestamp base        date       rates
AED     True  1692498003  EUR  2023-08-20    3.999374
AFN     True  1692498003  EUR  2023-08-20   91.564377
ALL     True  1692498003  EUR  2023-08-20  106.170290
AMD     True  1692498003  EUR  2023-08-20  419.882504
ANG     True  1692498003  EUR  2023-08-20    1.957252

In [5]:
# Drop unnescessary columns
df1=df.drop(df.columns[[0,1]], axis=1)
df1.head()

    base        date       rates
AED  EUR  2023-08-20    3.999374
AFN  EUR  2023-08-20   91.564377
ALL  EUR  2023-08-20  106.170290
AMD  EUR  2023-08-20  419.882504
ANG  EUR  2023-08-20    1.957252

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [6]:
# Save the Dataframe
df2=df1.drop(['base','date'], axis=1)
df2.head()
df2.to_csv('exchange_rates_1.csv')

Your CSV should be in this format with more currencies

| | Rates |
| ------- | ------- |
|  AED| 4.398618    |
|  AFN| 92.917693   |  
|  ALL| 123.099093  |
|  AMD| 621.935674  |
|  ANG| 2.149648    |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url|
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).